.DS_Store
/client/app/node_modules
/client/app/dist
/client/localClicker/node_modules
/client/localClicker/dist
/client/clickercloud/node_modules
/client/clickercloud/dist
/tests/e2e/reports/
selenium-debug.log
/client/package-lock.json

/server/data
/server/logs
/server/executables
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*



client/android_native/app/release/
client/android_native/build
client/android_native/captures
*.iml

client/clickercloud/yarn\.lock

client/clickercloudadmin/yarn\.lock



servers/localclicker/cpdata
servers/localclicker/database/*
servers/localclicker/DBBackUp
ClickerPointAddin/ClickerX/obj
ClickerPointAddin/ClickerX/bin